* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Times, sans-serif;
}

.menu-container {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.menu-logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    
}

.menu-links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
}

.header-link-two,
.header-link-three {
    margin-left: 20px;
}

.header-container {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    color: #F9FAF8;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    color: #E5E7EB;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-sign-up {
    background-color: #3882F6;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 8px;
}

.header-image {
    width: 900px;
    height: 250px;
}

.information-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.info-menu {
    width: 900px;
    height: 400px;
}

.info-text {
    padding: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.info-images {
    display: flex;
    justify-content: center;
}

.info-table-image {
    padding-right: 20px;
    display: table;
}

.info-image {
    border-radius: 8px;
    width: 120px;
    height: 120px;
}

figcaption {
    color: #828486;
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    text-align: left;
    display: table-caption;
    caption-side: bottom;
}